{
  "extends": [
    "stylelint-config-concentric-order"
  ],
  "rules": {
    "color-hex-case": "lower",
    "color-hex-length": "short",
    "color-named": "never",
    "indentation": 2,
    "max-nesting-depth": 10,
    "property-case": "lower",
    "property-no-vendor-prefix": true,
    "unit-case": "lower",
    "value-no-vendor-prefix": null,
    "order/properties-order": null,
  }
}


