html {
  background-color: $grey-light;
  color: $black-default;
}

.top-stats {
  span {
    margin-right: .5em;
    font-family: $font-secondary;
    font-weight: bold;
  }
}

span {
  color: $maroon;
  font-weight: bold;
}

.traits-stats span {
  margin-right: .25rem;
  color: #333;
}

.actions {
  color: $maroon;
  font-family: $font-secondary;
}

.mid-stats {
  padding: 1rem 0;
  h4 {
    margin: .5rem 0 0;
  }
  h4:first-child {
    margin: 0;
  }
  span {
    margin-right: .25em;
  }
}

.moon-circle {
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  svg {
    display: block;
    width: 100%;
    max-height: 3rem;
    fill: #dedede;
  }
  &.active svg {
    fill: #5ca7ac;
  }
}

.beast:hover {
  color: #5ca7ac;
}

#beastMain {
  background: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .55);
  header {
    z-index: 100;
    position: relative;
    background-color: #666;
    nav {
      height: 5rem;
      padding: 1rem;
      box-sizing: border-box;
      background: #fff;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    h1 {
      margin: 0;
      font-size: 2rem;
      padding: .25em 0;
      text-transform: uppercase;
      text-align: center;
      color: #eee;
      input {
        background: $grey;
        display: inline-block;
        padding: .25rem .5rem;
        font-size: 1.5rem;
        color: #fff;
        margin-top: 3px;
        margin-left: .5rem;
        border-radius: 0.5rem;
        border: 0;
        width: 4rem;
        text-align: center;
        vertical-align: top;
        line-height: 1;
      }
    }
  }
  #monList {
    flex: 1;
    overflow: auto;
    .error {
      height: 30rem;
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: $grey-light;
      h1 {
        font-size: 3rem;
        color: $grey;
        margin: 0 0 1rem;
      }
    }
    .cr-group {
      .cr-header {
        cursor: pointer;
        border-bottom: 0.1rem solid rgba(0, 0, 0, 0.15);
        padding: 1rem;
        background: #bb7676;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: $font-secondary;
        h2 {
          margin: 0;
          color: #fff;
          text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
        }
        span {
          background: darken(#bb7676, 10%);
          display: inline-block;
          padding: 0.2rem 0.6rem;
          font-size: 1.4rem;
          color: #fff;
          border-radius: 0.5rem;
        }
      }
      ul {
        display: none;
        list-style: none;
        margin: 0;
        padding: 0;
        li {
          cursor: pointer;
          padding: 1rem;
          box-sizing: border-box;
          height: 4rem;
          border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
          display: flex;
          align-items: center;
          justify-content: space-between;
          h3 {
            margin: 0;
          }
          div {
            display: flex;
            svg {
              width: 2.4rem;
              height: 2.4rem;
              display: block;
              fill: $grey-light;
              margin-left: 1rem;
            }
          }
        }
      }
    }
  }
}

#beastModal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  opacity: 0;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #f5f0dd;
  .modal-header {
    flex: 0 0 3.5rem;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 1rem 1rem 0;
    box-sizing: border-box;
    h1 {
      margin: 0;
      color: $maroon;
      font-size: 2.4rem;
      line-height: 1;
    }
  }
  .beast-body {
    flex: 1;
    overflow: auto;
    padding: 0 1rem 1rem;
    font-size: 1.2rem;
    &#currentBlock {
      margin-right: 1rem;
    }
    &#extraBlock {
      background: #e5e5e5;
    }
    h1 {
      font-size: 1.6em;
      margin: 0;
    }
    h2 {
      font-size: 1rem;
      border-bottom: 2px solid #c9ad6a;
      padding: 0.15rem 0 1rem;
      margin: 0 0 0.5rem;
      font-style: italic;
    }
    h3 {
      padding-top: 1rem;
      margin: 0;
      font-size: 1.8rem;
      border-top: 2px solid #c9ad6a;
    }
    ul {
      list-style: none;
      display: flex;
      margin: 1rem 0 0;
      padding: 0.5rem 0;
      border-bottom: 2px solid #c9ad6a;
      border-top: 2px solid #c9ad6a;
      li {
        flex: 1;
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 1.2rem;
        @media(max-width: $screen-xxs) {
          font-size: 1rem;
        }
        span {
          font-weight: bold;
        }
      }
    }
    p {
      margin: 0.5rem 0
    }
  }
  span {
    font-family: $font-secondary;
  }
  footer {
    flex: 0 0 4rem;
    display: flex;
    button {
      background: $black-default;
      flex: 1;
      text-align: center;
      border: 0;
      font-size: 2rem;
      color: #fff;
    }
  }
}
